src/hello_c
src/hello_cpp
src/Thread/thread_main
.vscode/compile_commands.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
coverage/
doxygen/
build/
build_native/
build_cross/
build_arm/
build_x86_64
VERSION
CMakeLists.txt.copy
install/
rootfs/
VERSION